body {
    color: green;
}

.marketing {
    h4 a:link {
        color: $brand-tomato;
    }
    p {
        color: $brand-primary;
    }
}

.header {
    .text-muted {
        color: black;
    }
}

.container .jumbotron {
    @include border-top-radius(50px);
    @include border-bottom-radius(50px);
    background-image: linear-gradient(tomato, lightgreen);
}

.jumbotron {
    h1 {
        color: white;
    }
    .lead {
        color: black;
    }
    img {
        border: 1px solid black;
    }
}

.footer {
    p {
        color: $brand-info;
    }
    .glyphicon-heart {
        color: $brand-success;
    }
}